/* common shared styles */
* {
    margin: 0px;
    padding: 0px;
}

/* banner section start */
.banner-container {
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: right;
    /* padding:230px 230px 360px 860px ; */
}

.content {
    padding: 230px 230px 360px 860px;
}

.banner-title {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    padding: 21px 25px;
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
}

/* main section start */
.img {
    width: 450px;
}

.main-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 0px 200px;
    gap: 70px;
}

.text {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
}

.text-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.text-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* my plans section start */
.section-title {
    text-align: center;
    margin-top: 70px;
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 45px 106px
}

.mindset-section {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.mindset-div {
    background-image: url('../images/gradient1.png');
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.logo {
    align-items: center;
}

.logo-title {
    text-align: center;
}

.logo-title-description {
    text-align: center;
}

.mindset-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

/* footer section start */
footer {
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

.main-footer-container {
    display: flex;
}

.foot-title-left {
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 500px;
}

.footer-description {
    color: red;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.footer-footer{
    height: 400px;
    background-color: black;
}
.left-side{
    color: white;
    display: flex;
    flex-direction:column;
    width: 500px;
    margin-top: 200px;
}
.main-footer{
    display: flex;
}